@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap');

h1 {
    font-family: 'Nanum Myeongjo', serif;
    text-align: center;
    margin-right: 20%;
    margin-left: 20%;
}

body {
    font-family: 'Nanum Myeongjo', serif;
    margin-right: 20%;
    margin-left: 20%;
}

table {
    width: 100%;
    border: 0;
    border-collapse: collapse;
}

td, tr{
    margin: 6px;
    padding: 12px;
}

#date {
    width: 60px;
    font-weight: 800;
    text-align: right;
    border-right: 2px solid #444444;
}

#contents {
    font-weight: 400;
    line-height: 150%;
}

#time {
    font-weight: 800;
    text-align: right;
}