node_modules

# no secure files
config
config/kakaoKey.js

# no my_modules
my_modules/var.js

#no excel/image files
upload

#no html files
links

#no pdf files
pdfs

#no DDL
DDL.txt

#no LOG
nohup.out
