extends layout

block content
    
    h1 #{alert_type}
    
    p
    p

    h2 #{alert_details}

    p
    p 상품 관리 페이지
    p
    form(action= temp + "/admin/alert_to_adminpage", method="post")
        div
            input(type='submit' id='mybutton' value='상품 관리 페이지로')


    p
    p 비밀번호 변경
    p
    form(action= temp + "/admin/changepw", method="post")
        div
            input(type='password' name='password' placeholder='password')
        div
            input(type='password' name='passwordcheck' placeholder='password check')
        div
            input(type='submit' id='mybutton' value='비밀번호 변경')